body {
  max-width: 1600px;
  overflow: hidden; }
  @media all and (max-width: 800px) {
    body {
      overflow: scroll; } }
  body header {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.2); }
    body header img {
      height: 40px;
      padding-top: 10px;
      padding-left: 20px; }
    body header a {
      position: absolute;
      top: 12px;
      right: 30px;
      display: block;
      width: 45px;
      height: 35px;
      cursor: pointer; }
      body header a.active span {
        background-color: transparent;
        -webkit-transition: background-color 100ms;
        -moz-transition: background-color 100ms;
        transition: background-color 100ms; }
        body header a.active span:before {
          top: 0px;
          -webkit-transform: rotate(45deg) translateY(0);
          -moz-transform: rotate(45deg) translateY(0);
          -ms-transform: rotate(45deg) translateY(0);
          -o-transform: rotate(45deg) translateY(0);
          transform: rotate(45deg) translateY(0);
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          transition: all 300ms; }
        body header a.active span:after {
          top: 0px;
          -webkit-transform: rotate(-45deg) translateY(0);
          -moz-transform: rotate(-45deg) translateY(0);
          -ms-transform: rotate(-45deg) translateY(0);
          -o-transform: rotate(-45deg) translateY(0);
          transform: rotate(-45deg) translateY(0);
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          transition: all 300ms; }
      body header a span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        margin-top: -2px;
        background-color: black;
        -webkit-transition: background-color 300ms;
        -moz-transition: background-color 300ms;
        transition: background-color 300ms; }
        body header a span:before {
          content: '';
          width: 45px;
          height: 4px;
          background-color: black;
          position: absolute;
          top: -10px;
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          transition: all 300ms; }
        body header a span:after {
          content: '';
          width: 45px;
          height: 4px;
          background-color: black;
          position: absolute;
          top: 10px;
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          transition: all 300ms; }
  body #nav {
    position: absolute;
    top: 100px;
    left: 0;
    padding: 0; }
    body #nav li {
      font-family: 'codepro';
      list-style: none;
      text-transform: uppercase;
      line-height: 60px;
      height: 60px;
      width: 100px;
      margin-top: 10px;
      padding-left: 25px;
      font-size: 1.4em;
      cursor: pointer;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      transition: all 300ms; }
      body #nav li:first-child {
        background-color: #e0e4e5; }
      body #nav li:nth-child(2) {
        background-color: #bbbebf; }
      body #nav li:last-child {
        background-color: #959798; }
      body #nav li:hover {
        background: #f19b3f;
        color: white;
        width: 120px;
        -webkit-transition: all 100ms;
        -moz-transition: all 100ms;
        transition: all 100ms; }
  body #menu {
    position: absolute;
    background-color: white;
    font-family: 'codepro';
    font-size: 2em;
    letter-spacing: 2px;
    text-align: left;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 60px;
    right: -300px;
    z-index: 100;
    -webkit-transition: right 300ms;
    -moz-transition: right 300ms;
    transition: right 300ms; }
    body #menu.active {
      right: 0px;
      -webkit-transition: right 300ms;
      -moz-transition: right 300ms;
      transition: right 300ms; }
    body #menu ul:first-child li {
      list-style: none;
      margin-top: 60px; }
      body #menu ul:first-child li a {
        color: black;
        text-decoration: none;
        position: relative;
        -webkit-transition: color 300ms;
        -moz-transition: color 300ms;
        transition: color 300ms; }
        body #menu ul:first-child li a:after {
          content: '';
          width: 0%;
          background-color: black;
          height: 1px;
          position: absolute;
          bottom: 0px;
          left: 0px;
          -webkit-transition: width 250ms;
          -moz-transition: width 250ms;
          transition: width 250ms; }
      body #menu ul:first-child li a:hover {
        color: #f19b3f;
        -webkit-transition: color 100ms;
        -moz-transition: color 100ms;
        transition: color 100ms; }
        body #menu ul:first-child li a:hover:after {
          width: 100%;
          -webkit-transition: width 250ms;
          -moz-transition: width 250ms;
          transition: width 250ms; }
    body #menu .share {
      text-align: center;
      padding: 0px;
      position: relative;
      top: 300px; }
      body #menu .share li {
        margin-left: 10px;
        display: inline-block;
        list-style: none;
        -webkit-transition: color 400ms;
        -moz-transition: color 400ms;
        transition: color 400ms; }
        body #menu .share li a {
          color: #8d8d8d; }
        body #menu .share li:first-child:hover a {
          color: #3B5998;
          -webkit-transition: color 250ms;
          -moz-transition: color 250ms;
          transition: color 250ms; }
        body #menu .share li:nth-child(2):hover a {
          color: #b31217;
          -webkit-transition: color 250ms;
          -moz-transition: color 250ms;
          transition: color 250ms; }
        body #menu .share li:last-child:hover a {
          color: #00aced;
          -webkit-transition: color 250ms;
          -moz-transition: color 250ms;
          transition: color 250ms; }
  body #overlay {
    position: absolute;
    top: 60px;
    left: 0px;
    height: 100%;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);
    -webkit-transition: left 300ms;
    -moz-transition: left 300ms;
    transition: left 300ms; }
    body #overlay.active {
      left: 0px;
      -webkit-transition: left 300ms;
      -moz-transition: left 300ms;
      transition: left 300ms; }
  body .content {
    position: absolute;
    font-family: 'codepro';
    text-transform: uppercase;
    left: 50%;
    margin-left: -385px;
    top: -700px;
    width: 700px;
    height: 600px;
    padding: 20px;
    background-color: #a58e51;
    padding-right: 50px;
    padding-bottom: 40px;
    z-index: -5;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: top 1000ms, background-color 500ms;
    -moz-transition: top 1000ms, background-color 500ms;
    transition: top 1000ms, background-color 500ms; }
    body .content h2 {
      position: relative;
      right: 0px; }
    body .content p {
      font-family: 'Helvetica', 'sans-serif';
      font-size: 14px;
      text-transform: initial;
      line-height: 1.4em;
      letter-spacing: 0.2em;
      position: relative;
      right: 0px;
      width: 700px; }
    body .content iframe {
      position: relative;
      padding-top: 40px;
      margin: 0 auto;
      width: 680px;
      height: 383px; }
    @media all and (max-width: 940px) {
      body .content {
        position: absolute;
        left: 10%;
        width: 80%;
        margin-left: 0px;
        padding: 0px; }
        body .content iframe {
          width: 90%;
          left: 5%; }
        body .content .bio h2 {
          padding-left: 20px; }
        body .content .bio p {
          width: initial;
          padding-left: 20px;
          letter-spacing: initial; } }
    body .content.active {
      top: 60px;
      height: 100%;
      background-color: #f3f0e7;
      -webkit-transition: top 1000ms, background-color 500ms;
      -moz-transition: top 1000ms, background-color 500ms;
      transition: top 1000ms, background-color 500ms; }

#background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -10; }
  #background .accordian {
    position: absolute;
    height: 100%;
    top: 60px;
    left: 50%;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: width 450ms;
    -moz-transition: width 450ms;
    transition: width 450ms; }
    #background .accordian:first-child {
      width: 1000px;
      margin-left: -500px;
      background-color: #218286;
      z-index: -10; }
      #background .accordian:first-child.active {
        width: 0;
        -webkit-transition: width 450ms;
        -moz-transition: width 450ms;
        transition: width 450ms; }
    #background .accordian:nth-child(2) {
      width: 1200px;
      margin-left: -600px;
      background-color: #155457;
      z-index: -20; }
      #background .accordian:nth-child(2).active {
        width: 0;
        -webkit-transition: width 450ms;
        -moz-transition: width 450ms;
        transition: width 450ms;
        -webkit-transition-delay: 400ms;
        -moz-transition-delay: 400ms;
        transition-delay: 400ms; }
    #background .accordian:nth-child(3) {
      width: 1400px;
      margin-left: -700px;
      background-color: #0e3637;
      z-index: -30; }
      #background .accordian:nth-child(3).active {
        width: 0;
        -webkit-transition: width 450ms;
        -moz-transition: width 450ms;
        transition: width 450ms;
        -webkit-transition-delay: 800ms;
        -moz-transition-delay: 800ms;
        transition-delay: 800ms; }
    #background .accordian:nth-child(4) {
      width: 1600px;
      margin-left: -800px;
      background-color: #0a2628;
      z-index: -40; }
      #background .accordian:nth-child(4).active {
        width: 0;
        -webkit-transition: width 450ms;
        -moz-transition: width 450ms;
        transition: width 450ms;
        -webkit-transition-delay: 1200ms;
        -moz-transition-delay: 1200ms;
        transition-delay: 1200ms; }
